<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Horario UC</title>
</head>

<body>
    <div id="root" class="d-flex flex-column h-100"></div>
    <noscript>
        Necesitas JavaScript para usar este sitio.
    </noscript>
</body>

</html>
